<a href="https://colab.research.google.com/github/MeidanGR/GooglePlayStore_Preprocessing_Python/blob/main/GooglePlayStore_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Google Play Store Data Preprocessing**
This data preprocessing progress has been established for an academic project of a BI course. The data will be analyzed within the project.

Major thanks to **Gautham Prakash** for publishing & maintenance this dataset, which you can find at https://www.kaggle.com/gauthamp10/google-playstore-apps

# **Google auth & libraries**

In [100]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [101]:
import pandas as pd
import numpy as np

# **CSV LOAD**

In [115]:
#Loading csv
df = pd.read_csv('/content/drive/My Drive/Google-Playstore.csv')

print("Dataframe original shape is", np.shape(df))
df.sample(2)

Dataframe original shape is (603047, 23)

                                                 App Name  ... Editors Choice
223238  Fun Color:  Coloring Games & Happy Color by Nu...  ...          False
181734                            Easy Checklist (Legacy)  ...          False

[2 rows x 23 columns]

# **DATA FILTERING**
## Agenda: 
Data reduction up to ~100K rows, for a decent memory space & faster analysis.

## Guidelines:
- **Minimum Android** is the minimum android version which allowes operation for the app. The mose popular values were found: 4.1\4.0.3\6.0 and up & Varies with device.
- **Size** should exceed 1MB.
- **Currency** will be USD only.
- **Last updated** during 2020.

In [116]:
#Coloumn labels space fix
df.columns = [x.replace(" ", "_") for x in df.columns]

#Rows SELECT
df = df.query('(Minimum_Android == "4.1 and up" | Minimum_Android == "4.0.3 and up" | Minimum_Android == "Varies with device" | \
Minimum_Android == "6.0 and up") & not Size.str.endswith("k") & Currency == "USD" & Last_Updated.str.contains("2020")',engine='python')

#Coloumns FILTER
df = df.filter(items=['App_Name', 'Category', 'Rating', 'Rating_Count', 'Installs', 'Price', 'Size','Released','Last_Updated','Ad_Supported', 'In_App_Purchases'])

#Saving a copy of dataframe
dfcopy = df.copy(deep=True)

print("Dataframe reduced shape is", np.shape(df))
df.sample(10)

Dataframe reduced shape is (112092, 11)

                                             App_Name  ... In_App_Purchases
104470                       Capital Public Radio App  ...            False
446997                                      RÃ¡dio CBN  ...            False
104307                                        CAP Mob  ...            False
326261   Live Wallpapers 4K - Full HD Live Wallpapers  ...            False
408724                 Oraciones Diarias y ProtecciÃ³n  ...            False
62057                                Australia Stocks  ...            False
501960                                     Social IVI  ...            False
497084                                    Sleep TIMER  ...            False
583905  WATU - Accept Payments, Send Money, Pay Bills  ...            False
215687      Food Merge - Idle Tap Clicker Merger Game  ...             True

[10 rows x 11 columns]

# **INITIAL DATA INFO**

In [117]:
print("Dataframe NULL count:")
print(df.isnull().sum(axis = 0), end="\n\n")

df.info()

Dataframe NULL count:
App_Name               1
Category               0
Rating              1880
Rating_Count        1880
Installs               0
Price                  0
Size                   0
Released            6338
Last_Updated           0
Ad_Supported           0
In_App_Purchases       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112092 entries, 20 to 603046
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   App_Name          112091 non-null  object
 1   Category          112092 non-null  object
 2   Rating            110212 non-null  float64
 3   Rating_Count      110212 non-null  float64
 4   Installs          112092 non-null  object
 5   Price             112092 non-null  float64
 6   Size              112092 non-null  object
 7   Released          105754 non-null  object
 8   Last_Updated      112092 non-null  object
 9   Ad_Supported      112092 non-null  bool
 10  In_App_Purchases  112092 non-null  bool
dtypes: bool(2), float64(3), object(6)
memory usage: 8.8+ MB

In [105]:
#Retrieve coloumn general info 
name = 'Category'
df[name].describe()

count        112092
unique           48
top       Education
freq          12333
Name: Category, dtype: object

# **DATA CLEAN & CORRECTION**
- A null value that was found in **App_Name** are not acceptable for furthor analysis.
- The null values in **Rating, Rating_Count** will be replaced with mean values.

In [118]:
#NULL Extraction
df = df.query('not App_Name.isnull()',engine='python')

# Function replaces np.nan values in all of the data frame with relevant statistics \ dal7collab
def rep_missings(data_frame):
    d = data_frame.copy(deep = True)
    for c in data_frame:
        if (data_frame[c].dtype == 'float64'):
            if data_frame[c].isnull().values.any() :
                m = data_frame[c].dropna().mean()
                d[c].fillna(m, inplace = True)
    return d;
# Activating the function
df = rep_missings(df)

#Coloumn types correction
df['App_Name'] = df['App_Name'].astype({'App_Name': 'string'})
df['Category'] = df['Category'].astype({'Category': 'string'})
df['Rating_Count'] = df['Rating_Count'].astype({'Rating_Count': 'int32'})
df['Installs'] = df['Installs'].astype({'Installs': 'string'})
df['Size'] = df['Size'].astype({'Size': 'string'})
df['Released']= pd.to_datetime(df['Released']) 
df['Last_Updated']= pd.to_datetime(df['Last_Updated']) 

#'Size' coloumn excluding "Varies with device"
df['Size'] = df['Size'].replace(to_replace="Varies with device", 
                                   value = np.nan)


print("Dataframe final shape is", np.shape(df))
df.sample(10)

Dataframe final shape is (112091, 11)

                                                 App_Name  ... In_App_Purchases
78551                            Best Waterfall Wallpaper  ...            False
108739                         Cats game: Stretch the cat  ...            False
396828             Ø§ÙÙØ¤ÙØ¤ ÙØ§ÙÙØ±Ø¬Ø§Ù ÙÙÙØ§ Ø§ØªÙÙ Ø¹ÙÙÙ Ø§ÙØ´ÙØ®Ø§Ù  ...            False
467362  River Crossing IQ Logic Puzzles & Fun Brain Games  ...            False
526129                                         Tail Skins  ...             True
157891                     Didi Kempot - Tulung (Offline)  ...            False
232953         Glitter Heart Love Coloring Book for Girls  ...            False
99352                                               ç¾¤éå¼ä¸ç  ...             True
380373                                 New Year countdown  ...            False
88850                                          Body by KP  ...            False

[10 rows x 11 columns]

# **POSTPROCESSING DATA INFO**

In [119]:
#Genereal information after preprocessing
print(df.info(),end = '\n\n')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112091 entries, 20 to 603045
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   App_Name          112091 non-null  string
 1   Category          112091 non-null  string
 2   Rating            112091 non-null  float64
 3   Rating_Count      112091 non-null  int32
 4   Installs          112091 non-null  string
 5   Price             112091 non-null  float64
 6   Size              101269 non-null  string
 7   Released          105753 non-null  datetime64[ns]
 8   Last_Updated      112091 non-null  datetime64[ns]
 9   Ad_Supported      112091 non-null  bool
 10  In_App_Purchases  112091 non-null  bool
dtypes: bool(2), datetime64[ns](2), float64(2), int32(1), string(4)
memory usage: 8.3 MB
None

# **EXPORT TO GOOGLE DRIVE**

In [120]:
#Exporting a csv into google drive
df.to_csv('/content/drive/My Drive/GooglePlay-Store_Optimized.csv')